<div id="principal">
  <mat-card>
    <mat-card-title>Emociones básicas</mat-card-title>
    <img mat-card-image src="https://place-hold.it/200x100" alt="">
    <mat-card-content><a [routerLink]="['emocionesBasicas']">Emociones básicas</a></mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Reconocimiento de emociones</mat-card-title>
    <img mat-card-image src="https://place-hold.it/200x100" alt="">
    <mat-card-content><a [routerLink]="['reconocimientoEmociones']">Reconocimiento de emociones</a></mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Casos reales</mat-card-title>
    <img mat-card-image src="https://place-hold.it/200x100" alt="">
    <mat-card-content><a [routerLink]="['casosReales']">Casos reales</a></mat-card-content>
  </mat-card>
</div>

